@import url(https://fonts.googleapis.com/css?family=Space+Mono);

*{
	padding:0;
	margin:0;
}

body{
    font-family: 'Space Mono', monospace;
	font-size: 100%;
	background:#ffffff;
    font-color: 000000;
}

a{
	text-decoration: none;
	color:#000000;
}
	a:hover{
		color:#999;
	}
p{
	line-height: 2em;
    font-size: .70em;

	margin:0 0 20px;
	text-align: center;
}

input {
   
    display: block;
    margin-bottom : 20px;
}
  
textarea {
    display: block;
    height: 123px;
    width: 333px;
}

.form {
    text-align: center;
    display: inline-block;
}

.wrap{
	max-width: 600px;
    font-size: 1.75em;
	margin:150px auto;
    text-align: center;
}

.type-wrap{
	margin:10px auto;
	padding:5px;
	/*background:#f0f0f0; */
	/*border-radius:5px;*/
	/*border:#CCC 1px solid; */
}

.links{
	margin:20px 0;
	font-size: 1.0em;
	text-align: center;
}


/* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }